{{#extend "layouts/main"}}
  {{#content "body"}}
    <h1>Compra realizada con éxito</h1>
    <p>Gracias por tu compra. Te hemos enviado un correo con la confirmación.</p>
    <a href="/profile">Volver al perfil</a>
  {{/content}}
{{/extend}}